@using TestMaker.Controllers
@model TestModel
@{

}

<div class="table-parent">
	
	@using (Html.BeginForm("SubmitScores", "Tests", Model))
	{
		<h1>@Html.DisplayTextFor(m => m.TestName);</h1>
		<hr />
	
		<article class="description">
			@Html.DisplayTextFor(m => m.TestDescription);
		</article>
		

		@foreach (var question in Model.Tests)
		{
			@Html.HiddenFor(m => question.QuestionId)
			
			<div class="mb-4">
				<b class="mb-3">@question.Content</b>
				<br/>
				
				@Html.HiddenFor(m => m.Tests)
			
				@for(int i = 0; i < question.Choices.Count; i++)
				{
					<div class="d-inline m-4">
						<label asp-for="@question.Choices[i]">@question.Choices[i]</label>
						@Html.CheckBoxFor(m => @question.ChoicesChecked[i])
					</div>
				}

				<br/>
				<br />
			</div>
		}
		
		<div class="form-group">
			<button type="submit" value="SubmitScores" asp class="w-100 btn theme-btn">Submit</button>
		</div>
	}
	
</div>