@using TestMaker.Controllers
@model TestModel
@{
}

<div class="table-parent">
	
	<form asp-controller="Tests" asp-action="SubmitScores" method="post">
		@foreach (var question in Model.Tests)
		{
			<div class="mb-4">
				<b class="mb-3">@question.Content</b>
				<br/>
			
				@for(int i = 0; i < question.Choices.Count; i++)
				{
					<div class="d-inline m-4">
						<label asp-for="@question.Choices[i]">@question.Choices[i]</label>
						<input type="checkbox" asp-for="@question.ChoicesChecked[i]" value="@i"/>
					</div>
				}

				<br/>
				<br />
			</div>
		}
		
		<div class="form-group">
			<button type="submit" class="w-100 btn theme-btn">Submit</button>
		</div>
		
	
	</form>
</div>