@model TestModel

@{
	ViewBag.Title = "Test";
}

<h1>@Model.TestName</h1>
<p>@Model.TestDescription</p>

@using (Html.BeginForm("SubmitScores", "Tests"))
{
	@Html.AntiForgeryToken()

	for (var i = 0; i < Model.Tests.Count; i++)
	{
		<h3>@Model.Tests[i].Content</h3>
		<ul>
			@for (var j = 0; j < Model.Tests[i].Choices.Count; j++)
			{
				<li>
					<label>
						@Html.RadioButtonFor(m => m.Tests[i].SelectedIndex, j, new { id = "question" + i + "choice" + j })
						@Model.Tests[i].Choices[j]
					</label>
				</li>
			}
		</ul>
		@Html.HiddenFor(m => m.Tests[i].QuestionId)
		@Html.HiddenFor(m => m.Tests[i].Content)
		@Html.HiddenFor(m => m.Tests[i].CorrectAnswerIndex)
		@Html.HiddenFor(m => m.Tests[i].Choices)
	}

	<button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
	<script>
        function updateSelectedIndexes() {
            var selectedIndexes = [];
            $('input[type=radio]:checked').each(function () {
                var questionIndex = parseInt(this.name.replace("Tests[", "").replace("].SelectedIndex", ""));
                var selectedIndex = parseInt(this.value);
                selectedIndexes[questionIndex] = selectedIndex;
            });
            console.log("Updating selected indexes...");
        }
    </script>
}